import(methods)

importFrom(utils, download.file, untar, unzip, read.table, browseURL, URLencode)
importFrom(stats, setNames)
importFrom(tools, R_user_dir, file_path_as_absolute)

importFrom(httr, GET, HEAD, content, user_agent, stop_for_status)
importFrom(xml2, read_html)
importFrom(rvest, html_elements, html_text)
importFrom(xtable, xtable)
import(tibble)

import(S4Vectors)
import(IRanges)
import(GenomeInfoDb)
import(Biostrings)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S3 methods for S3 generics not defined in igblastr
###

S3method(print, alignment_summary)
S3method(print, fmt7footer)
S3method(print, fmt7record)
S3method(print, format_specifiers)
S3method(print, hit_table)
S3method(print, igblast_info)
S3method(print, query_details)
S3method(print, subregion_sequence_details)
S3method(print, VDJ_junction_details)
S3method(print, VDJ_rearrangement_summary)

S3method(summary, query_details)

### We also export them thru the export() directive so that (a) they can be
### called directly, (b) tab-completion on the name of the generic shows them,
### and (c) methods() doesn't asterisk them.

export(
    print.alignment_summary,
    print.fmt7footer,
    print.fmt7record,
    print.format_specifiers,
    print.hit_table,
    print.igblast_info,
    print.query_details,
    print.subregion_sequence_details,
    print.VDJ_junction_details,
    print.VDJ_rearrangement_summary,

    summary.query_details
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions
###

export(
    ## get_igblast_root.R:
    get_igblast_root, set_igblast_root,

    ## igblast_info.R:
    has_igblast, igblast_version, list_igblast_organisms, igblast_info,

    ## install_igblast.R:
    install_igblast,

    ## list_germline_dbs.R:
    list_germline_dbs,
    use_germline_db,
    load_germline_db,

    ## list_c_region_dbs.R:
    list_c_region_dbs,
    use_c_region_db,
    load_c_region_db,

    ## install_IMGT_germline_db.R:
    list_IMGT_releases,
    install_IMGT_germline_db,

    ## install_AIRR_germline_db.R:
    install_AIRR_germline_db,

    ## parse_fmt7.R:
    list_supported_format_specifiers,

    ## igblastn.R:
    igblastn, igblastn_help
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S3 generics defined in igblastr and their methods
###

export(
    # parse_fmt7.R:
    qseqid
)

S3method(qseqid, fmt7record)
S3method(qseqid, query_details)

### We also export them thru the export() directive so that (a) they can be
### called directly, (b) tab-completion on the name of the generic shows them,
### and (c) methods() doesn't asterisk them.

export(
    qseqid.fmt7record,
    qseqid.query_details
)

