import(methods)

importFrom(utils, download.file, untar, unzip, read.table, browseURL)
importFrom(stats, setNames)
importFrom(tools, R_user_dir, file_path_as_absolute)

importFrom(httr, GET, HEAD, content, user_agent, stop_for_status)
importFrom(xml2, read_html)
importFrom(rvest, html_elements, html_text)
importFrom(xtable, xtable)
import(tibble)

import(S4Vectors)
import(GenomeInfoDb)
import(Biostrings)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S3 methods
###

S3method(print, igblast_info)

### We also export them thru the export() directive so that (a) they can be
### called directly, (b) tab-completion on the name of the generic shows them,
### and (c) methods() doesn't asterisk them.

export(
    print.igblast_info
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions
###

export(
    ## From get_igblast_root.R:
    get_igblast_root, set_igblast_root,

    ## From igblast_info.R:
    has_igblast, igblast_version, list_igblast_organisms, igblast_info,

    ## From install_igblast.R:
    install_igblast,

    ## From use_germline_db.R:
    list_germline_dbs,
    use_germline_db,

    ## From install_NCBI_germline_db.R:
    install_NCBI_germline_db,

    ## From install_IMGT_germline_db.R:
    list_IMGT_releases,
    install_IMGT_germline_db,

    ## From igblastn.R:
    igblastn, igblastn_help
)

